.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Summary-Container {
  float: left;
  width: 30%;
  background-color:gray;
  margin:20px;
}

.Main-Container {
  float: left;
  width: 60%;
  background-color:antiquewhite;
  margin:20px;
}

.Header {
  height:50px;
  background: teal;
  text-align: left;
  padding-left:10px;
  color:white;
  margin-bottom: 50px;
}

.Balance-Red {
  color:red;
}

.Balance-Yellow {
  color:yellow;
}

.Balance-Green {
  color:green;
}

.cell {
  padding: 5px;
  margin:10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

